/* src/app/app.component.css */
div {
  width: 200px;
  height: 100px;
  background-color: lightblue;
  text-align: center;
  line-height: 100px;
  position: relative;
  overflow: hidden;
}

/* .red {
  width: 200px;
  height: 100px;
  background-color: red;
  text-align: center;
  line-height: 100px;
  position: relative;
  overflow: hidden;
}

@keyframes my-animation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100px);
  }
}

.red:hover {
  animation: my-animation 0.5s ease;
} */
